/* Stili generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 150px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3rem;
    color: #000;
}

.hero p {
    font-size: 1.5rem;
    
}

.cta-btn {
    background-color: #f4a261;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

/* Shop Section */
#shop {
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

.product-card {
    display: inline-block;
    width: 45%;
    margin: 20px;
    background-color: #fafafa;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-info h3 {
    margin: 10px 0;
}

.product-info .btn {
    background-color: #f4a261;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}